.addMovieForm {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  
  .addMovieForm label {
    display: block;
    text-align: start;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .addMovieForm input[type="text"],
  .addMovieForm textarea,
  .addMovieForm input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    font-size: 1rem;
  }
  
  .addMovieForm button {
    font: inherit;
    cursor: pointer;
    background: #230052;
    border: 1px solid #230052;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 20px;
    margin-top: 1rem;
  }
  
  .addMovieForm button:hover {
    background-color: #460897;
    border-color: #460897;
  }
  